@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  font-size: 100%;
}
body{
  background-color: rgb(244, 245, 247);
}
h1{
  font-size: 4.5rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2rem;
}
body{
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  overflow-x: hidden;
}
.btn-a{
  cursor: pointer;
  padding: 0.3rem 1.2rem;
  background-color: rgb(242, 105, 8);
  color: white;
  border: none;
  border-radius: 12px;
}
.btn-a:hover{
  transition: 0.4s linear;
  background-color:rgba(2, 167, 2);
}

#navbar{
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 0.6rem 1.5rem;
  /* border: 1px solid red; */
  position: fixed;
  top: 0%;
  /* left: 0%; */
  background-color: white;
  /* background-color: rgba(2, 167, 2, 0.2); */
  z-index: 1000;
}
.nav-logo{
  position: relative;
  height: 30px;
  width: 70px;
  background: url("/src/images/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  /* border: 1px solid red; */
}
.nav-items ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  list-style: none;
}
.nav-items ul li a{
  text-decoration: none;
  color: black;
  /* border: 1px solid red; */
  padding: 0.1rem 0.7rem;
  border-radius: 12px;
}
.nav-items ul li a:hover{
  transition: 0.3s linear;
  background-color:rgb(242, 105, 8);
  color: white;
}

.home-crousal{
  position: relative;
  overflow: hidden;
}
.home-img{
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  background: url("./images/homebg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* object-fit:cover; */
  padding-top: 4rem;
}
.home-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: rgba(186, 60, 6, 0.466);
  padding-top: 4rem;
  
}
.home-overlay-text{
  position: absolute;
  bottom: 7rem;
  left: 27%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.home-overlay-text p{
  margin-top: 1rem;
  max-width: 600px;
}
  .home-crousal:hover > .home-overlay{
    transition: 0.5s linear;
    top: 0%;
  }

.card-section-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  row-gap: 1rem;
  column-gap: 2rem;
  /* margin-top:2rem; */
  width: 80%;
}
  .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    max-width: 300px;
    max-height: 100px;
    padding: 0.3rem 0.4rem;
    border-radius: 8px;
  }
  .card-body:hover{
    color: white;
    background-color:rgb(242, 105, 8);
  }
  .card-img{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-img img{
    width: 50px;
    height: 50px;
  }
  .card-text{
    width: 70%;
    height: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }


  .centre-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .offer-card{
    position: relative;
    max-width: 250px;
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.669);
    overflow: hidden;
    cursor: pointer;
  }
  .offer-card::before{
    content: "";
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 30%;
    height: 20%;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    background-color:rgb(242, 105, 8);
    /* border-radius: 6px; */
  }
  .offer-card::after{
    content: "";
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 30%;
    height: 20%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    background-color:rgb(242, 105, 8);
    /* border-radius: 6px; */
  }
  .offer-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 6px;
  }
  .offer-card-text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:rgba(36, 32, 30, 0.3);
    text-shadow: 1px 1px 2px black;
    gap: 0.5rem;

  }
  .offer-card-text h2{
    color: white;
    font-family: 'Faster One', cursive;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 0.6rem;
  }

  .offer-card-text p{
    font-size: 10px;
    text-align: center;
  }
  .offer-card:hover > .offer-card-text{
    transition: 0.5s linear;
    top: 0%;
  }


  .centre-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .centre-heading-heading{
    position: relative;
  }
  .centre-heading-heading::after{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 0%;
    height: 2px;
    /* background-color:rgb(242, 105, 8); */
    background-color: rgba(2, 167, 2);
    animation: aftereffect 6s infinite linear;
  }
  .centre-heading-heading::before{
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0%;
    height: 2px;
    background-color:rgb(242, 105, 8);
    animation: beforeeffect 6s infinite linear;

  }
  @keyframes aftereffect{
    0%{
      width: 0%;
    }
    25%{
      width: 40%;
    }
    50%{
      width: 100%;
    }
    100%{
      width:0%;
    }
  }
  @keyframes beforeeffect{
    0%{
      width: 0%;
    }
    25%{
      width: 40%;
    }
    50%{
      width: 100%;
    }
    100%{
      width:0%;
    }
  }



  .offer-card-section{
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 2rem 3rem;
  }


  .menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 1rem;
    column-gap: 2rem;
    row-gap: 0.8rem;
    width: 90%;
    padding: 2rem 0;
    padding-left: 4rem;
    /* border: 2px solid red; */
  }
  .menu-items{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 0.4rem;
    border-radius: 8px;
    max-height: 60px;
    cursor: pointer;
    max-width: 300px;
    /* border: 1px solid black; */
  }
  .menu-items:hover{
    transition: 0.3s;
    background-color:rgb(242, 105, 8);
    color: white;
  }
  .menu-items-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
  }
  .menu-items-img img{
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .menu-items-text{
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .review-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 300px;
    padding: 1.4rem 1.7rem ;
    border-radius: 8px;
    cursor: pointer;
    /* border: 1px solid black; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
  .review-box:hover{
    transition: 0.6s linear;
    transform: translateY(-15px);
  }
  .review-box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* position: absolute; */
    /* bottom: 0rem; */
    /* margin-top: 0.9rem; */
    /* border: 1px solid red; */
    overflow: hidden;
  }
  .review-box-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .review-box-text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }
  .review-box-text p{
    max-width: 300px;
    text-align: center;
    /* font-size: 13px; */
  }
  .review-box-upper-comma{
    display: flex;
    /* justify-content: left; */
    /* border: 1px solid red; */
    width: 100%;
    align-items: center;
    position: absolute;
    top: 0%;
  }
  .review-box-lower-comma{
    display: flex;
    /* border: 1px solid red; */
    justify-content: right;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0rem;
  }
  .comma-img{
    width: 18px;
    height: 18px;
  }
  .lower-comma{
    transform: rotate(180deg);
  }



  .review-section{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 2rem;
  }



  .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2.5rem 2rem;
  }
  .media{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.4) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

  }
  .media img{
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
  .media:hover{
    transition: 0.4s linear;
  }
  .whatsapp:hover{
    background-color: rgb(37, 211, 102);
  }
  .whatsapp:hover > .whatsapp-img{
    filter: invert(100%);
  }
  .twitter:hover{
    background-color: #00acee;
  }
  .twitter:hover > .twitter-img{
    filter: invert(100%);
  }
  .youtube:hover{
    background-color: #FF0000;
  }
  .youtube:hover > .youtube-img{
    filter: invert(100%);
  }
  .instagram:hover{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }
  .instagram:hover > .instagram-img{
    filter: invert(100%);
  }
  .media{
    animation: whatsapp 3.5s linear infinite;
  }
  @keyframes whatsapp{
    0%{
      transform: translateY(0px);
      animation-delay: 2s;
    }
    50%{
      transform: translateY(-15px);
    }
    100%{
      transform: translateY(0px);
    }
  }


  #footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    margin-top: 2rem;
  }
  #footer span{
    color: #f77638;
  }





  .service-top{
    width: 100%;
    max-width: 1600px;
    height: 60vh;
    background: url("../src/images/servicebg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .service-top::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 4, 68, 0.443);
  }
  .service-top h1{
    color: white;
    position: relative;
  }
  .service-top p{
    color: white;
    position: relative;
    text-align: center;
  }

  .service-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 1.5rem 1rem;
    box-shadow: rgba(17, 17, 26, 0.4) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    max-width: 220px;
    border-radius: 8px;
  }
  .service-card:hover{
    transition: 0.4s linear;
    transform: translateY(-15px);
  }
  .service-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-card-img img{
    width: 60px;
    height: 60px;
  }
  .service-card-text{
    text-align: center;
    font-size: 12px;
    max-width: 200px;
  }

  .service-card-section-parent{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-card-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 3rem 2rem;
    width: 80%;
  }



  .order-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 240px;
    border-radius: 4px;
    border-top-right-radius: 45px;
    overflow: hidden;
    background-color: white;
    gap: 1rem;
    padding-bottom: 1.4rem;
  }
  .order-card-img{
    width: 100%;
    height: 180px;
    border-bottom-left-radius:45px;
    overflow: hidden;
  }
  .order-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .order-card-text{
    padding: 0 1rem;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    gap: 0.5rem;
  }
  .order-card-text p{
    max-width: 230px;
    font-size: 11px;
    padding: 1rem 0;
  }

  .order-card-text-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .order-card-text-heading span{
    font-weight: bolder;
    color: rgba(2, 167, 2);
  }


  .order-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
  }
  .order-section-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    width: 90%;
  }




  .menu-top{
    width: 100%;
    max-width: 1600px;
    height: 60vh;
    background: url("../src/images/menubg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .menu-top::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 4, 68, 0.443);
  }
  .menu-top h1{
    color: white;
    position: relative;
  }
  .menu-top p{
    color: white;
    position: relative;
    text-align: center;
  }

  .contact-page{
    width: 100%;
    height: 100vh;
  }
  .contact-bg{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .contact-bg::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #0207653c;
  }
  .contact-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact-data{
    position: absolute;
    top: 3%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
  }

  .contact-form{
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    /* align-items: center; */
    gap: 1.5rem;
    padding: 1.5rem 1rem;
    color: white;
    background-color: #1011118f;
    /* filter: blur(8px); */
    border-radius: 8px;
    
  }
  .contact-form-name{
    display: flex;
    justify-content: left;
    gap: 2rem;
  }
  .section{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .input-text{
    border: none;
    border-radius: 12px;
    outline: none;
    width: 250px;
    padding: 0.2rem 0.6rem;
    text-transform: capitalize;
  }
  .mail{
    width: 510px;
  }
  .text-area{
    outline: none;
    border: none;
    border-radius: 12px;
    resize: none;
    padding: 0.2rem 0.6rem;
    text-transform: capitalize;
  }

  .contact-form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .form-btn{
    width: 120px;
    padding: 0.3rem 1rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    color: whitesmoke;
  }
  .submit{
    background-color: rgb(112, 185, 4);
  }
  .reset{
    background-color: rgb(180, 7, 7);
  }